{%extends "base.html"%}

{%block conteudo%}
    {% with messages = get_flashed_messages() %}
        {%if messages%}
            {% for message in messages %}
                <div class="alert alert-warning text-center" role="alert">
                    <div class="notification">{{message}}</div>
                </div>  
            {% endfor %}
        {%endif%}
    {% endwith %}

    {% for k,v in users.items() %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{k}} => {{v}}</li>
        </ul>
        
    {% endfor%}
{%endblock%}

