{% extends 'base.html' %}

{% block content %}
    {% with notifications = get_flashed_messages() %}
        {%if notifications%}
            {% for notification in notifications %}
                <div class="alert alert-danger"> 
                    {{ notification }}  
                              
                </div>
            {% endfor %}
        {%endif%}
    {%endwith%}
    {{form.errors}}  

    <form action="{{url_for('login')}}" method="POST">        
        <div class="mb-3">
            <label for="email" class="form-label">Insira seu email:</label>
            {{form.email(class_="form-control")}}        
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Insira sua senha:</label>
            {{form.password(class_="form-control")}}
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <!--<input class="form-check-input" name="remember" type="checkbox" id="inlineCheckbox1" value="option1">-->
                {{form.remember(class_="form-check-input")}}
                <label class="form-check-label" for="inlineCheckbox1">Permanecer Conectado(por 7 dias)</label>
              </div>
        </div>
        {{form.submit(class_="btn btn-info btn-block btn-lg")}}
    </form>
{%endblock%}
