{%extends 'base.html'%}

{%block content%}

<div class="mt-5">
    <a href="{{url_for('index')}}" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i>  Voltar</a>
    <a href="{{url_for('book.user_add_book', id=user.id)}}" class="btn btn-outline-success"><i class="fas fa-plus"></i>  Adicionar Livro</a>

    <table class="table - table-striped mt-3">
        <tbody>
            <tr>
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.password}}
                </td>
                <td>
                    {{user.profile.photo}}
                </td>
                <td>
                    <a class = "btn btn-danger btn-sm"href="{{url_for('delete',id=user.id)}}"><i class="far fa-trash-alt"></i></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-muted">Books:</h3>
    <ul class="list-group list-group-flush mt-5">
        {%for book in user.books %}  
        <li class="list-group-item">
            {{book.name}}
        </li>
        {%endfor%}
    </ul>
</div>



{%endblock%}